/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body,html {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: url("bg.png") right bottom fixed no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
#main {
    margin: auto;
    display: flex;
    width: 90%;
    height: 100px;
}

.modal .content {
    margin: auto;
}
#result-div {
	color: #575759;
	font-size: 36px;
	font-weight: 400;
}

#result-div h3{
	font-size: .85em;
	margin: 84px auto 48px auto !important;
}
#result-div h4{
	font-size: .7em;
	margin-top: 20px;
	margin-bottom: 20px;
}
button {
	margin: auto;
    color: #575759;
    border: 3px solid #575759;
    border-radius: 10px;
    max-width: 400px;
    max-height: 100px;
    min-width: 250px;
    min-height: 62.5px;
    width: 32vw;
    height: 8vh;
    font-size: 32px;
    cursor: pointer;
    transition: all .3s;
}
@media screen and (max-height: 720px) {
	button {
		font-size: 24px;
	}
}
@media screen and (max-width: 640px) {
	#main {
		flex-direction: column;
		height: 60vh;
	}
}
button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #4dd0e1;
}
#btn-settings {
	border: none;
	border-radius: 16px;
	position: absolute;
	top: 25px;
	right: 25px;
	width: 65px;
	height: 65px;
	min-width: 65px;
	min-height: 65px;
	background: url("settings.png");
	cursor: pointer;
	-ms-transform: scale(.7); /* IE 9 */
    -webkit-transform: scale(.7); /* Safari */
    transform: scale(.7);
}
#btn-settings:hover {
	box-shadow: none;
}

.modal {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}
.input {
    border: 1px solid #cccccc; 
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   background: #ffffff !important;
   outline: none; 
   height: 24px; 
   width: 120px; 
   color: #262626; 
   font-size: 11px;
   font-family: Tahoma; 
   position: absolute;
   top: -24px;
   left: -120px;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

#rotation{
	background: url("rotation.png");
	width: 96px;
	height: 96px;
	margin: auto;
    -webkit-animation: preloader 1s infinite linear;
    -moz-animation: preloader 1s infinite linear;
    -ms-animation: preloader 1s infinite linear;
    -o-animation: preloader 1s infinite linear;
    animation: preloader 1s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(-360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(-360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(-360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(-360deg); }
}

@keyframes preloader {
    to { transform: rotate(-360deg); }
}

/*Result-window------------------------------------------------------*/
#result h3 {
	margin: auto;
	text-align: center;
}
.result-rows {
	display: flex;
	justify-content: space-between;
	width: 86%;
	margin: auto;
	max-width: 1366px;
}
.result-rows-last {
	width: 94%;
	max-width: 1500px;
	margin-top: 64px;
}

#error-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("ERROR.png") center 30%  no-repeat;
	display: none;
	overflow: hidden;
}
